<div>
    <div style="color:red;">Réservation réassignée</div>
    <p>Votre réservation a été attribuée à quelqu'un d'autre</p>
    <table style="width: 100%;">
        <tr>
            <td colspan="3">
                <a title="Voir sur Google Maps" href="{maps_link}" style="text-decoration: none; color: #007BFF;">
                    🌍 <strong>{shop}</strong>
                </a>

            </td>
        </tr>
        <tr>
            <td style="color: #888888;">
                <div>Date : <strong>{datetime-start_time}</strong></div>
                <div>Durée : <strong>{duration}</strong></div>
            </td>
        </tr>
    </table>
</div>