<div>
    <div style="color:green;"><strong>{user}</strong> : Création d'un nouveau compte</div>
    <table style="width: 100%;">
        <tr>
            <td colspan="2">
                <p style="text-decoration: none; color: #007BFF;">
                    🧍<strong>{user}</strong>
                </p>

            </td>
        </tr>
        <tr>
            <td style="color: #888888;">
                <div>📧 E-Mail : <strong>{email}</strong></div>
                <div>🏢 Groupe : <strong>{group}</strong></div>
            </td>
        </tr>
    </table>
</div>