<div>
    <div style="color: rgb(175, 114, 0);"><strong>{user}</strong> : Modification de la réservation</div>
    <table style="width: 100%;">
        <tr>
            <td colspan="3">
                <a title="Voir sur Google Maps" href="{maps_link}" style="text-decoration: none; color: #007BFF;">
                    🌍 <strong>{shop}</strong>
                </a>

            </td>
        </tr>
        <tr>
            <td>
                <div>Date : <strong>{datetime-start_time}</strong></div>
                <div>Durée : <strong>{duration}</strong></div>
            </td>
            <td style=" color: #888888;">
                <div><strong>{datetime-previous_start_time}</strong></div>
                <div><strong>{previous_duration}</strong></div>
            </td>
        </tr>
        <tr>
            <td style="text-align: right;" colspan="2">
                <a href="{base_domain}{route}"
                    style="display: inline-block; padding: 10px 20px; background-color: #007BFF; color: white; text-decoration: none; border-radius: 5px;">
                    Voir la réservation
                </a>
            </td>
        </tr>
    </table>
</div>