<div>
    <p style="margin:3px 18px;font-family: Arial, sans-serif; font-size: 16px; color: #000;">Bonjour,</p>
    <p style="margin:3px 18px;font-family: Arial, sans-serif; font-size: 16px; color: #000;">Bienvenue sur notre plateforme ! Nous sommes ravis de
        vous compter parmi nous.</p>
    <p style="margin:3px 18px;font-family: Arial, sans-serif; font-size: 16px; color: #000;">Pour commencer, veuillez cliquer sur le bouton
        ci-dessous
        afin de définir votre mot de passe sur le site.</p>
    <a href="{base_domain}/reset_password/{token}/first_login"
        style="display: block; text-align: center;margin: auto; margin-top: 20px; color: #fff; background-color: #0c4f97; padding: 10px 20px; border-radius: 5px; text-decoration: none; width: fit-content">
        Définir mon mot de passe
    </a>
    <p style="margin:3px 18px;font-family: Arial, sans-serif; font-size: 16px; color: #000;">Ce code est valable pour <strong>{validity_hours}
            heures</strong>, au-delà, il faudra contacter <a href="mailto:{admin_mail}">{admin_mail}</a> pour en obtenir un nouveau. </p>
    <p style="margin:3px 18px;font-family: Arial, sans-serif; font-size: 16px; color: #000;">Merci et à bientôt.</p>

    <p style="margin:3px 18px;font-family: Arial, sans-serif; font-size: 12px; color: #000;">Si vous n'arrivez pas à cliquer sur le bouton,
        copiez-collez le lien suivant dans votre navigateur:</p>
    <a href="{base_domain}/reset_password/{token}/pwd_reset"
        style="margin:3px 18px;font-family: Arial, sans-serif; font-size: 12px; color: #0c4f97;">{base_domain}/reset_password/{token}/pwd_reset</a>

    <p style="margin:3px 18px;font-family: Arial, sans-serif; font-size: 12px; color: #000;">Si vous n'êtes pas à l'origine de cette demande,
        veuillez ignorer ce message.</p>
</div>