<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opération Paquets Cadeaux</title>
</head>

<body style="font-family: Arial, sans-serif; background-color: #ddf3fd; padding: 10px;">
    <div style="font-family: Arial, sans-serif; max-width: 800px; margin: 0 auto; padding: 2px; background-color: #fff; border-radius: 10px;">
        <img src="{logo}" alt="MAGEV" style="display: block; margin: 0 auto;" title="MAGEV" height="143.5px" width="165.12px" />

        <h1 style="text-align: center; color: #0c4f97;">Opération Paquets Cadeaux</h1>

        <div style="padding: 15px">
            {content}
        </div>

        <p style="text-align: center; margin-top: 10px; color: #55779b;">Cordialement,<br>L'équipe de l'Opération Paquets Cadeaux</p>

        <p style="text-align: center; margin-top: 10px; color: #55779b;text-align: center; font-size: 12px;">
            Ceci est un mail automatique important concernant vos réservations sur l'Opération&nbsp;Paquets&nbsp;Cadeaux. <br>
            Si vous ne souhaitez plus recevoir de mails, veuillez contacter <a href="mailto:{admin_mail}">{admin_mail}</a>
            pour supprimer votre compte.</p>
    </div>
</body>

</html>